:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  .footer {
    
    padding: 2rem;
    background: linear-gradient(90deg, #f81b1b, #a73939, #4f0202);
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
  }
  