<div class="tela">
    <form *ngIf="form" [formGroup]="form">
        <h1>{{filme ? "EDITAR" : "NOVO"}}</h1>
        <div class="campos">
            <div class="campo">
                <label for="">Nome: </label>
                <input type="text" maxlength="255" formControlName="nome">
            </div>
            <div class="campo">
                <label for="">Preço: </label>
                <input type="number" min="1" formControlName="preco">
            </div>
            <div class="campo">
                <label for="">Quantidade: </label>
                <input type="number" min="0" max="10000" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" formControlName="quant">
            </div>
            <div class="campo">
                <label for="">Url da imagem: </label>
                <input type="text" maxlength="255" formControlName="urlImagem">
            </div>
            <div class="butons">
                <button class="btn" routerLink="">Retornar</button>
                <button class="btn" *ngIf="!filme" type="submit" (click)="createFilme()">Criar</button>
                <button class="btn" *ngIf="filme" type="submit" (click)="updateFilme()">Alterar</button>
                <button class="btn" *ngIf="filme" (click)="deleteFilme()">Excluir</button>
            </div>
        </div>
    </form>
</div>
